/* :root { */
/* 	 Base Colors - Dark Theme  */
/* 	--ef-fg: #d3c6aa; */
/* 	--ef-red: #e67e80; */
/* 	--ef-orange: #e69875; */
/* 	--ef-yellow: #dbbc7f; */
/* 	--ef-green: #a7c080; */
/* 	--ef-aqua: #83c092; */
/* 	--ef-blue: #7fbbb3; */
/* 	--ef-purple: #d699b6; */
/* 	--ef-gray-0: #7a8478; */
/* 	--ef-gray-1: #859289; */
/* 	--ef-gray-2: #9da9a0; */
/* 	--ef-statusline-1: #a7c080; */
/* 	--ef-statusline-2: #d3c6aa; */
/* 	--ef-statusline-3: #e67e80; */
/**/
/* 	 Medium Background - Dark Theme (Default) */
/* 	--ef-bg-dim: #232a2e; */
/* 	--ef-bg-0: #2d353b; */
/* 	--ef-bg-1: #343f44; */
/* 	--ef-bg-2: #3d484d; */
/* 	--ef-bg-3: #475258; */
/* 	--ef-bg-4: #4f585e; */
/* 	--ef-bg-5: #56635f; */
/* 	--ef-bg-visual: #543a48; */
/* 	--ef-bg-red: #514045; */
/* 	--ef-bg-green: #425047; */
/* 	--ef-bg-blue: #3a515d; */
/* 	--ef-bg-yellow: #4d4c43; */
/* } */
/**/
* {
    border: none;
    font-size: 14px;
    font-family: "JetBrainsMono Nerd Font,JetBrainsMono NF" ;
    min-height: 25px;
    color: #d3c6aa;
}

window#waybar {
  background: transparent;
  margin: 5px;
 }

#custom-logo {
  padding: 0 10px;
}

.modules-right {
  padding: 0 15px;
  border-radius: 15px 15px 15px 15px;
  margin-top: 2px;
  margin-right: 20px;
  background: #2d353b;
}

.modules-center {
  padding: 0 15px;
  margin-top: 2px;
  border-radius: 15px 15px 15px 15px;
  background: #2d353b;
}

.modules-left {
  padding: 0 15px;
  border-radius: 15px 15px 15px 15px;
  margin-top: 2px;
  background: #2d353b;
  margin-left: 20px;
}

#battery,
#custom-clipboard,
#custom-colorpicker,
#custom-powerDraw,
#bluetooth,
#pulseaudio,
#network,
#disk,
#memory,
#backlight,
#cpu,
#temperature,
#custom-weather,
#idle_inhibitor,
#jack,
#tray,
#window,
#workspaces,
#clock {
  padding: 0 5px;
}
#pulseaudio {
  padding-top: 3px;
}

#workspaces button.active {
  color: #a7c080;
}


#temperature.critical,
#pulseaudio.muted {
  color: #514045;
  padding-top: 0;
}


#clock{
  color: #d3c6aa;
}

#battery.charging {
    color:  #d3c6aa;
    background-color: #425047;
}

#battery.warning:not(.charging) {
    background-color: #4d4c43;
    color: black;
}

#battery.critical:not(.charging) {
    background-color: #514045;
    color: #d3c6aa;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


@keyframes blink {
    to {
        background-color:#2d353b;
        color:#d3c6aa;
    }
}
