@define-color efFg             #d3c6aa;
@define-color efRed            #e67e80;
@define-color efOrange         #e69875;
@define-color efYellow         #dbbc7f;
@define-color efGreen          #a7c080;
@define-color efAqua           #83c092;
@define-color efBlue           #7fbbb3;
@define-color efPurple         #d699b6;
@define-color efGray0          #7a8478;
@define-color efGray1          #859289;
@define-color efGray2          #9da9a0;
@define-color efStatusline1    #a7c080;
@define-color efStatusline2    #d3c6aa;
@define-color efStatusline3    #e67e80;
@define-color efBgDim          #232a2e;
@define-color efBg0            #2d353b;
@define-color efBg1            #343f44;
@define-color efBg2            #3d484d;
@define-color efBg3            #475258;
@define-color efBg4            #4f585e;
@define-color efBg5            #56635f;
@define-color efBgVisual       #543a48;
@define-color efBgRed          #514045;
@define-color efBgGreen        #425047;
@define-color efBgBlue         #3a515d;
@define-color efBgYellow       #4d4c43;

* {
    border: none;
    font-size: 14px;
    font-family: "JetBrainsMono Nerd Font,JetBrainsMono NF";
    min-height: 25px;
    color: @efFg;
}

window#waybar {
    background: transparent;
    margin-bottom: 5px;
}

.modules-right,
.modules-center,
.modules-left {
    border-radius: 15px;
    margin-top: 2px;
    background: transparent;
}
.modules-right,
.modules-left {
    padding: 0 10px;
}

.modules-right { margin-right: 20px; }
.modules-left  { margin-left: 20px;  }

#workspaces button.active {
    background-color: @efBg2;
}

#workspaces button.focused {
    background: @efBg2;
    border-radius: 10px;
}

#window {
  padding: 0 20px;
}

#temperature.critical,
#pulseaudio.input.source-muted,
#pulseaudio.output.muted {
    background-color: @efBgRed;
}

#battery.charging {
    background-color: @efBgGreen;
}

#battery.warning:not(.charging) {
    background-color: @efBgYellow;
}

#battery.critical:not(.charging) {
    background-color: @efBgRed;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: @efBg0;
        color: @efFg;
    }
}

/* MODULES STYLE */

#clock,
#cpu,
#memory,
#network,
#pulseaudio,
#battery,
#tray,
#custom-clipboard,
#custom-colorpicker,
#custom-powerDraw,
#bluetooth,
#disk,
#backlight,
#temperature,
#custom-weather,
#idle_inhibitor,
#jack,
#window,
#workspaces {
    transition: border-color 0.2s ease-in-out;
}

#clock {
    background-color: @efBg1;
    border: 2px solid @efBg2;
    color: @efFg;
    min-width: 80px;
}

#cpu,
#memory,
#network,
#pulseaudio,
#battery,
#tray,
#custom-clipboard,
#custom-colorpicker,
#custom-powerDraw,
#bluetooth,
#disk,
#backlight,
#temperature,
#custom-weather,
#idle_inhibitor,
#jack,
#window,
#workspaces {
    background-color: @efBg1;
    border: 2px solid @efBg2;
    color: @efFg;
    min-width: 80px;
}



#clock:hover,
#cpu:hover,
#memory:hover,
#network:hover,
#pulseaudio:hover,
#battery:hover,
#tray:hover,
#custom-clipboard:hover,
#custom-colorpicker:hover,
#custom-powerDraw:hover,
#bluetooth:hover,
#disk:hover,
#backlight:hover,
#temperature:hover,
#custom-weather:hover,
#idle_inhibitor:hover,
#jack:hover,
#window:hover,
#workspaces:hover {
    border-color: @efFg;
    background-color: @efBg4;
}
