@define-color efFg             #d3c6aa;
@define-color efRed            #e67e80;
@define-color efOrange         #e69875;
@define-color efYellow         #dbbc7f;
@define-color efGreen          #a7c080;
@define-color efAqua           #83c092;
@define-color efBlue           #7fbbb3;
@define-color efPurple         #d699b6;
@define-color efGray0          #7a8478;
@define-color efGray1          #859289;
@define-color efGray2          #9da9a0;
@define-color efStatusline1    #a7c080;
@define-color efStatusline2    #d3c6aa;
@define-color efStatusline3    #e67e80;
@define-color efBgDim          #232a2e;
@define-color efBg0            #2d353b;
@define-color efBg1            #343f44;
@define-color efBg2            #3d484d;
@define-color efBg3            #475258;
@define-color efBg4            #4f585e;
@define-color efBg5            #56635f;
@define-color efBgVisual       #543a48;
@define-color efBgRed          #514045;
@define-color efBgGreen        #425047;
@define-color efBgBlue         #3a515d;
@define-color efBgYellow       #4d4c43;

* {
    border: none;
    font-size: 14px;
    font-family: "JetBrainsMono Nerd Font,JetBrainsMono NF" ;
    min-height: 25px;
    color: @efFg;
}

window#waybar {
  background: transparent;
  margin: 5px;
 }

#custom-logo {
  padding: 0 10px;
}

.modules-right {
  padding: 0 15px;
  border-radius: 15px 15px 15px 15px;
  margin-top: 2px;
  margin-right: 20px;
  background: @efBg0;
}

.modules-center {
  padding: 0 15px;
  margin-top: 2px;
  border-radius: 15px 15px 15px 15px;
  background: @efBg0;
}

.modules-left {
  padding: 0 15px;
  border-radius: 15px 15px 15px 15px;
  margin-top: 2px;
  margin-left: 20px;
  background: @efBg0;
}

#battery,
#custom-clipboard,
#custom-colorpicker,
#custom-powerDraw,
#bluetooth,
#pulseaudio,
#network,
#disk,
#memory,
#backlight,
#cpu,
#temperature,
#custom-weather,
#idle_inhibitor,
#jack,
#tray,
#window,
#workspaces,
#clock {
  padding: 0 5px;
}
#pulseaudio {
  padding-top: 3px;
}

#workspaces button.active {
  background-color: @efBgGreen;
}

#workspaces button.focused {
  background: @efBgGreen;
  border-radius: 10px;
}

#temperature.critical,
#pulseaudio.input.source-muted,
#pulseaudio.output.muted {
  background-color: @efBgRed;
}

#clock{
  color: @efFg;
}

#battery.charging {
    background-color: @efBgGreen;
}

#battery.warning:not(.charging) {
    background-color: @efBgYellow;
}

#battery.critical:not(.charging) {
    background-color: @efBgRed;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: @efBg0;
        color: @efFg;
    }
}
